<footer class="py-5 border-top footer">
  <div class="container d-flex justify-content-between align-items-center">
    <ul class="d-flex">
      <li class="py-2 px-4"><a href="#">服務方案</a></li>
      <li class="py-2 px-4"><a href="#">關於職旅</a></li>
      <li class="py-2 px-4"><a href="#">聯絡我們</a></li>
      <li class="py-2 px-4"><a href="#">隱私權政策</a></li>
      <li class="py-2 px-4"><a href="#">用戶條款</a></li>
    </ul>
    <p class="text-small copyright">Copyright © 2025 職旅 workway. All rights reserved.</p>
  </div>
</footer>